.verified-list-form-container {
  border-top: 2px solid #1890ff;
  padding-top: 25px;
  width: 100%;
}

.ant-row {
  justify-content: space-around;
}

.grant-date input {
  background-color: #fff !important;
}
