.logo {
    height: 32px;
    margin: 16px;
    display: flex;
    justify-content: center;
    color: #fff;
  }
  
  .site-layout .site-layout-background {
    background:#ddd;
  }

  .header{
    width: 10rem;
  }
